{
    "auths": {
{% for credential in podman_credentials %}
        "{{ credential['registry_url'] }}": {
            "auth": "{{ (credential['registry_username'] + ':' + credential['registry_password_or_token']) | b64encode }}"
{% if loop.index == loop.length %}
        }
{% else %}
        },
{% endif %}
{% endfor %}
    }
}
